<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="styLesheet" type="text/css" th:href="@{css/normalize.css}" >
    <link rel="styLesheet" type="text/css" th:href="@{css/style.css}" >

    <title>Loja ACME</title>
</head>
<body>
    <nav id="topo">
        <a href="#">ACME</a>
        <ul>
            <li><a th:href="@{/#sobre}">Sobre</a></li>
            <li><a th:href="@{/#nossaslojas}">Nossas Lojas</a></li>
            <li><a th:href="@{/#lancamentos}">Lançamentos</a></li>
            <li><a th:href="@{/#contato}">Contato</a></li>
            <li><a th:href="@{/cliente}">Cadastre-se</a></li>
            
        </ul>
    </nav>
    <header>
        <h1>Loja de Material Esportivo</h1>
        <p>Fique por Dentro dos Últimos Lançamentos da Moda Esportiva. <br>Visite Nossa Loja Agora Mesmo.<br>Loja Especializada em Moda Esportiva com Diversas Opções para Você Escolher.</p>
        <a th:href="@{/#lancamentos}" class="botao">Ver mais</a>
    </header>
        <section id="contato">
            <h2>Cadastro</h2>
            <div>
                <form class="formulario" th:action="@{cliente}" th:object="${cli}" method="POST"> 
                    
                     <div>
                		<label th:for="nome">Nome:</label>
                		<input type="text" th:field="*{nome}" placeholder="Seu Nome" required="required">
            		</div>

                    <div>
                        <label>Endereço:</label>
                        <input type="text" th:field="*{endereco}">
                    </div>

                    <div>
                        <label>CPF:</label>
                        <input type="text" th:field="*{cpf}">
                    </div>

                    <div>
                        <label>Cidade:</label>
                        <input type="text" th:field="*{cidade}">
                    </div>

                    <div>
                        <label>Bairro:</label>
                        <input type="text" th:field="*{bairro}">
                    </div>
                    
                    <div>
                        <label>Estado:</label>
                        <input type="text" th:field="*{estado}">
                    </div>
                     
                    <div>
                        <label>Telefone:</label>
                        <input type="text" th:field="*{telefone}">
                    </div>
                    
                    <div>
                        <label>E-mail:</label>
                        <input type="text" th:field="*{email}">
                    </div>

                    <input type="submit" value="Enviar">
                </form>
                <a th:href="@{/}">Voltar</a>
            </div>
        </section>
        <footer>
            <div>
                <img src="img/facebook.png" alt="facebook">
                <img src="img/instagram.png" alt="Instagram">
                <img src="img/twitter.png" alt="Twitter">
                <img src="img/youtube.png" alt="Youtube">
                <img src="img/whatsapp.png" alt="whatsapp">
            </div>
            <a th:href="@{/}" class="botao">voltar</a>
            <p>Desenvolvido pelo grupo DSRV</p>
        </footer>
</body>
</html>