<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="styLesheet" type="text/css" th:href="@{/css/normalize.css}" >
    <link rel="styLesheet" type="text/css" th:href="@{/css/style.css}" >

    <title>Loja ACME</title>
</head>
<body>
    <nav id="topo">
        <a "th:href="@{/}"">ACME</a>
        <ul>
            <li><a th:href="@{/#sobre}">Sobre</a></li>
            <li><a th:href="@{/#nossaslojas}">Nossas Lojas</a></li>
            <li><a th:href="@{/#lancamentos}">Lançamentos</a></li>
            <li><a th:href="@{/cliente}">Cadastre-se</a></li>
            <li><a th:href="@{/clientes}">Lista Clientes</a></li>
            <li><a th:href="@{/buscar}">Busca por Nome</a></li>            
        </ul>
    </nav>
    <header>
        <h1>Loja de Material Esportivo</h1>
        <p>Fique por Dentro dos Últimos Lançamentos da Moda Esportiva. <br>Visite Nossa Loja Agora Mesmo.<br>Loja Especializada em Moda Esportiva com Diversas Opções para Você Escolher.</p>
        <a th:href="@{/#lancamentos}" class="botao">Ver mais</a>
    </header>
        <section id="contato">
            <h2>Cadastro</h2>
            <div>
                <form class="formulario" th:action="@{cliente}" th:object="${cli}" method="POST"> 
                    
                    <div>
                		<label th:for="nome">Nome:</label>
                		<input type="text" th:field="*{nome}" placeholder="Seu Nome" required="required">
                	</div>
                	
                    <div>
                		<label th:for="endereco">Nome:</label>
                		<input type="text" th:field="*{endereco}" placeholder="Seu Endereço" required="required">
           		   	</div>
                	
                    <div>
                        <label th:for="telefone">Telefone:</label>
                        <input type="text" th:field="*{telefone}" placeholder="Seu Telefone" required="required" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" title="(xx) xxxxx-xxxx">
                    </div>
                    
                    <div>
                        <label th:for="email">E-mail:</label>
                        <input type="text" th:field="*{email}" placeholder="Seu E-mail" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="seu@email.com">
                    </div>

                    <input type="submit" value="Enviar">
                </form>
            </div>
        </section>
        <footer>
            <div>
                <img src="/img/facebook.png" alt="facebook">
                <img src="/img/instagram.png" alt="Instagram">
                <img src="/img/twitter.png" alt="Twitter">
                <img src="/img/youtube.png" alt="Youtube">
                <img src="/img/whatsapp.png" alt="whatsapp">
            </div>
            <a th:href="@{/}" class="botao">voltar</a>
            <p>Desenvolvido pelo grupo DSRV</p>
        </footer>
</body>
</html>